email="yewangfaith@gmail.com"

date = new Date().format( 'yyyyMMdd' )

profiles {

		debug {

		process {
			executor='local'
			}

			params {
				base_input_dir = "/projects/b1059/workflows/joint-sv-nf"
				genome = "WS245"
			    reference = "/projects/b1059/data/genomes/c_elegans/${genome}/${genome}.fa.gz"
			    strains = "/projects/b1059/projects/Ye/strain_identify/strain_coverage/reference_strain_list.tsv"
			    bamdir = "/projects/b1059/data/alignments/WI/strain/"
				annotation_reference = "WS263"
				snpeff_path="${base_input_dir}/snpeff_data/"
			    manta_path="/projects/b1059/software/manta-1.5.0-py27_0/share/manta-1.5.0-0/bin"
			    tiddit="/projects/b1059/software/TIDDIT/TIDDIT.py"
			    tiddit_discord = 15
			    cores = 1
				samplot = "/projects/b1059/software/samplot/src"
				genebed = "${base_input_dir}/bin/gene.bed.gz"
				vcfanno_config = "${base_input_dir}/bin/SV_conf.toml"
				combine_geno = "${base_input_dir}/bin/WI_Combine_Filter_Repeat_Gmatrix.R"
				out = "${date}-${params.out_base}"
			}
	}

		quest {

			params {
			out_base = "sv"
			base_input_dir = "/projects/b1059/workflows/joint-sv-nf"
				genome = "WS245"
			    reference = "/projects/b1059/data/genomes/c_elegans/${genome}/${genome}.fa.gz"
			    strains = "/projects/b1059/projects/Ye/strain_identify/strain_coverage/reference_strain_list.tsv"
			    bamdir = "/projects/b1059/projects/Ye/repo/ch-calling-nf/CH-20190730/BAM"
			    manta_path="/projects/b1059/software/manta-1.5.0-py27_0/share/manta-1.5.0-0/bin"
			    tiddit="/projects/b1059/software/TIDDIT/TIDDIT.py"
			    tiddit_discord = 15
			    cores = 8
				samplot = "/projects/b1059/software/samplot/src"
				genebed = "${base_input_dir}/bin/gene.bed.gz"
				vcfanno_config = "${base_input_dir}/bin/SV_conf.toml"
				combine_geno = "${base_input_dir}/bin/WI_Combine_Filter_Repeat_Gmatrix.R"
				out = "${date}-${params.out_base}"
			}

			trace {
			    enabled = true
			    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
			    file = "${params.out}/reports/trace_report.html"
			}

			report {
			  enabled = true
			  file = "${params.out}/reports/report.html"
			}

			timeline {
			  enabled = true
			  file = "${params.out}/reports/timeline.html"
			}

	}

}

process.cache = 'deep'